
# We do not upload builds:
__BUILD__/*
__Source__/**/*.spv

# Visual studio/code fluff is not needed:
**/.vscode/*
**/.vs/*
Project/Windows/MSVS2019/packages/*

# Python fluff is not needed either
**/__pycache__/*

# Additional build garbage is to be removed as well:
Project/Linux/-MF

# Stuff we use internally for implementation-time testing is not needed as well:
__Scripts__/__Test__

# Dynamically created symbolic links that should not be uploaded:
Project/Windows/MSVS2019/Jimara/__SRC__
Project/Windows/MSVS2019/Jimara-Editor/__SRC__
Project/Windows/MSVS2019/Jimara-EditorExecutable/__SRC__
Project/Windows/MSVS2019/Jimara-StateMachines/__SRC__
Project/Windows/MSVS2019/Jimara-GenericInputs/__SRC__
Project/Windows/MSVS2019/Jimara-SampleGame/__SRC__
Project/Windows/MSVS2019/Jimara-Test/__SRC__

#dynamically generated source files are not meant for upload:
__Source__/Jimara/__Generated__/*
__Source__/Jimara-Editor/__Generated__/*
__Source__/Jimara-EditorExecutable/__Generated__/*
__Source__/Jimara-StateMachines/__Generated__/*
__Source__/Jimara-GenericInputs/__Generated__/*
__Source__/Jimara-SampleGame/__Generated__/*
__Source__/Jimara-Tests/__Generated__/*
